<h1>Impressum</h1>

<p>
  AMS Go GmbH<br />
  Alter Schlachthof 33<br />
  76131 Karlsruhe
</p>

<p>
  <strong>Vertreten durch:</strong><br />
  Kim Marius Gräfe<br />
  Benjamin Kostrzewa<br />
  Lukas Klein<br />
  Frank Hufnagel
</p>

<h2>Kontakt</h2>
<p>
  Telefon: +49 2359 2967311<br />
  E-Mail: hallo@amsgo.de
</p>

<h2>EU-Streitschlichtung</h2>
<p>
  Die Europ&auml;ische Kommission stellt eine Plattform zur
  Online-Streitbeilegung (OS) bereit:
  <a
    href="https://ec.europa.eu/consumers/odr/"
    target="_blank"
    rel="noopener noreferrer"
    >https://ec.europa.eu/consumers/odr/</a
  >.<br />
  Unsere E-Mail-Adresse findest du oben im Impressum.
</p>

<h2>
  Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle
</h2>
<p>
  Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor
  einer Verbraucherschlichtungsstelle teilzunehmen.
</p>

<p>Quelle: <a href="https://www.e-recht24.de">eRecht24</a></p>
